/*
VARIABLES
*/
$font-family: "Montserrat", sans-serif;
$color-primary: #544ac3;
$color-secondary: #f26c6d;
$color-tertiary: #f5f8ff;
$color-grey-1: #5d5d68;
$color-grey-2: #9a9a9a;
$color-grey-3: #ebebeb;
$color-grey-4: #f3f3f3;
$color-white: #fff;
$color-link: #24cca7;

$mobile-screen-max-width: 601px;
$tablet-screen-max-width: 992px;
$laptop-screen-max-width: 1200px;
$large-screen-max-width: 1440px;

// $type-scale-ratio: 1.333;
$type-scale-ratio: 1.25;
$text-mobile-size: 14px;
$text-tablet-size: 15px;
$text-laptop-size: 16px;
$text-large-size: 16px;
$body-line-height: 1.75;
$heading-line-height: 1.15;
